useDynLib(GSE, .registration=TRUE)

importFrom(MASS, mvrnorm)
importFrom("graphics", "par")
importFrom("grDevices", "dev.interactive")
importFrom("stats", "mahalanobis", "cor", "mad", "median", "na.omit", "pchisq", "qchisq", "rnorm", "runif", "var", "cutree","dist","hclust","qbinom")
importFrom("robustbase", "Qn")
importFrom("utils", "capture.output")

import(Rcpp)
import(ggplot2)
import(methods)

exportPattern("^[[:alpha:]]+")

export(
    slrt,
    CovEM,
    emve,
    HuberPairwise,
    ImpS,
    GSE,
    partial.mahalanobis,
    gy.filt,
    TSGS,
    generate.randcorr,
    generate.cellcontam,
    generate.casecontam
)

exportClasses(
    GSE,
    emve,
    HuberPairwise,
    CovRobMiss,
    SummaryCov,
    TSGS
)

exportMethods(
    show,
    summary,
    plot,
    getDist,
    getDistAdj,
    getMissing,
    getOutliers,
    getDim,
    getLocation,
    getScatter,
    getScale,
    getFiltDat
)
