useDynLib(GSE, .registration=TRUE)

importFrom(MASS, mvrnorm)
importFrom(stats, mahalanobis)
import(Rcpp)
#import(RcppArmadillo)
import(ggplot2)
import(methods)

exportPattern("^[[:alpha:]]+")

export(
	slrt, 
	CovEM, 
	emve, 
	HuberPairwise,
	GSE, 
	partial.mahalanobis,
	TSGS,
	generate.randcorr,
	generate.cellcontam,
	generate.casecontam
)

exportClasses(
	GSE, 
	emve,
	HuberPairwise,
	CovRobMiss,
	SummaryCov,
	TSGS
)

exportMethods(
	show,
	summary,
	plot,
	getDist,
	getDistAdj,
	getMissing,
	getOutliers,
	getDim,
	getLocation,
	getScatter,
	getScale,
	getCandidates,
	getInitial,
	getFiltDat
)



